<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% block title %}
    <h3>Здравствуйте. Пожалуйста, заполните данные поля для дальнейшей работы!</h3>
    {% endblock %}
    {% block content %}
    <form method="post">
        <a>Имя</a>
        <input type="text" name="Name"/>
        <a>Фамилия</a>
        <input type="text" name="Surname"/>
        <a>Эл. почта</a>
        <input type="email" name="Email"/>
        <a>Пароль</a>
        <input type="password" name="Password">
        <input type="submit" value="Отправить!">
    </form>
    {% endblock %}

</body>
</html>