<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% block title %}
    <h3>Здравствуйте. Пожалуйста, заполните данные поля для дальнейшей работы!</h3>
    {% endblock %}
    {% block content %}
    <form method="post">
        <ul>
            <li><a>Имя</a></li>
            <input type="text" name="Name"/>
            <li><a>Фамилия</a></li>
            <input type="text" name="Surname"/>
            <li><a>Эл. почта</a></li>
            <input type="email" name="Email"/>
            <li><a>Пароль</a></li>
            <input type="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*).{8,}" required minlength="8">
            <li><a>Подтвердить пароль</a></li>
            <input type="password" name="Confirm"><br>
            <input type="submit" value="Отправить!">
        </ul>
    </form>
    {% endblock %}

</body>
</html>